<!-- Footer -->
<footer class="grid-container-3">
        <div class="container">
            <div>
                <div class="footer-category">
                    <img src="images/logo/logo2.png" alt=""><h3>KANOTE</h3>
                </div>
                <div class="footer-category-notes">
                    <p style="color:white">All in one platform for both artiss </p>
                    <p style="color:white">and artlover</p>
                </div>
            </div>
            <div>
                <p class="footer-category">For Partnership</p>
                <div>
                    <i class="fa-solid fa-envelope"></i> <a href=""
                        class="footer-category-item hover-underline-animation">pr@teehtwin.org</a><br>
                    <i class="fa-solid fa-phone"></i><a href=""
                        class="footer-category-item hover-underline-animation">Gift Certificates</a><br>
                </div>
            </div>
            <div>
                <p class="footer-category">Customer Service</p>
                <div>
                    <i class="fa-solid fa-envelope"></i> <a href=""
                        class="footer-category-item hover-underline-animation">customercare@teehtwin.org</a><br>
                    <i class="fa-solid fa-phone"></i><a href=""
                        class="footer-category-item hover-underline-animation">+1 916 462 1233</a><br>

                </div>
            </div>
            <div>
                <p class="footer-category">Get The App</p>
                <div>
                    <a href="" class="footer-category-item hover-underline-animation">Android App</a><br>
                    <a href="tel:+8006001234" class="footer-category-item hover-underline-animation">IOS App</a><br>
                </div>
            </div>
            <div class="notice">
                <p>&copy; Copyright 2023, Tee Htwin Organzation</p>
            </div>
        </div>
    </footer>